h1{
    color: black;
    font-size: 1em;
}

.MixTape {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker';
    border-radius: 10px;
    border: black solid 2px;
    width: 75%;
    border-right: black solid 10px;
    border-left: black solid 10px;
    background-color:whitesmoke;
}
.MixTape:nth-child(2n){
    transform: translateX(10px);
    background-color:#E8E8E8;
    font-family: 'Knewave', cursive;
}
.MixTape:nth-child(3n){
    transform: translateX(5px);
    font-family: 'Indie Flower', cursive;
    background-color:#F8F8FF;
}
.MixTape:nth-child(4n){
    transform: translateX(15px);
    font-family: 'Rock Salt', cursive;
    background-color:#F8f8f6;
}

@media only screen and (min-width: 768px){
    h1{
        font-size: 3em;
    }
    .MixTape{
        border: black solid 4px;
        height: 8em;
        border-right: black solid 40px;
        border-left: black solid 40px;
    }
}
